@charset "UTF-8";
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  max-width: 670px;
  margin: 0 auto;
}

img {
  width: 100%;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

.title {
  color: #ffffff;
  padding: 26px 0;
  text-align: center;
  background-color: #2b2e35;
}

.header {
  width: 100%;
}

.header__logo {
  margin: 0 auto;
  width: 294px;
  height: auto;
  padding: 12px 0;
}

.slider {
  margin: 0 auto;
  width: 100%;
}

.slick-img img {
  height: auto;
  width: 100%;
}

.set {
  background-color: rgba(43, 46, 53, 0.5);
}
.set__img :hover {
  opacity: 0.7;
  transition: all 0.5s;
}

.strengths {
  background-color: rgba(233, 233, 233, 0.8);
}
.strengths__title {
  margin-bottom: 56px;
}
.strengths__wrap {
  width: 89%;
  margin: 0 auto;
}

.price__title {
  margin-bottom: 48px;
}
.price__list-img {
  width: 95%;
  margin: 0 auto;
}

.faq {
  background-color: rgba(233, 233, 233, 0.8);
}
.faq__title {
  margin-top: 48px;
  margin-bottom: 40px;
}
.faq__wrap {
  width: 95%;
  margin: 0 auto;
}

.contract__title {
  margin-bottom: 40px;
}
.contract__img {
  margin: 0 auto;
  width: 85%;
}

.footer {
  margin-top: 115px;
  text-align: center;
}

.accordion {
  margin-top: 30px;
  position: relative;
}

.accordion-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 540px;
  width: 100%;
  color: #2b2e35;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

.accordion-content {
  margin-top: 62px;
  width: 100%;
  display: none;
}

.accordion-content p {
  font-size: 13px;
  line-height: 1.5;
}

/* タイトルの背景色 */
.accordion-item .accordion-title {
  border: 1px solid #2b2e35;
}

/* 矢印 */
.accordion-title {
  position: relative;
}

.accordion-title::after {
  content: "＋";
  display: block;
  font-size: 24px;
  width: 24px;
  position: absolute;
  right: 25px;
  top: 12%;
  width: 8px;
}

.accordion-title.open::after {
  content: "ー";
  font-size: 24px;
  top: 12%;
}

.faq__wrap {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 24px;
}

.faq__accordion {
  margin-top: 30px;
  position: relative;
}

.faq__accordion-item {
  margin-bottom: 36px;
}

.faq__accordion-item:last-child {
  margin-bottom: 0;
}

.faq__accordion-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  width: 100%;
  color: #2b2e35;
  background-color: #ffffff;
  cursor: pointer;
  padding: 10px 20px;
}

.faq__accordion-content {
  width: 100%;
  display: none;
  background-color: #ffffff;
}

.faq__accordion-content p {
  line-height: 1.5;
}

/* ＋　−表示 */
.faq__accordion-title {
  position: relative;
}

.faq__accordion-title::after {
  content: "＋";
  display: block;
  font-size: 24px;
  width: 24px;
  position: absolute;
  right: 25px;
  top: 12%;
  width: 8px;
}

.faq__accordion-title.open::after {
  content: "ー";
  font-size: 24px;
  top: 12%;
}

.column02 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column02 li p {
  margin-bottom: 4px;
}

.column02 li span {
  font-size: 14px;
  display: block;
}

.column02 {
  width: 96%;
  margin: 0 auto;
}

.column02 li {
  max-width: 315px;
}

/* モーダル */
.modal {
  display: none;
}

/* モーダルのスタイル調整 */
.modaal-content-container {
  padding: 20px;
}

/* ✕ボタンの位置調整 */
.modaal-close {
  position: absolute;
  top: -60px;
  right: 0;
}

/* ✕ボタンの色 */
.modaal-close:after,
.modaal-close:before {
  background: #ccc;
}

/* ホバーしたときの✕ボタンの色 */
.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before {
  background: #ca353b;
}/*# sourceMappingURL=style.css.map */