@charset "UTF-8";

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  max-width: 670px;
  margin: 0 auto;
}

img {
  width: 100%;
}

h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}

.title {
  color: #ffffff;
  padding: 26px 0;
  text-align: center;
  background-color: #2b2e35;
}

.header {
  width: 100%;
}

.header__logo {
  margin: 0 auto;
  width: 294px;
  height: auto;
  padding: 12px 0;
}

.slider {
  margin: 0 auto;
  width: 100%;
}
.slick-img img {
  height: auto;
  width: 100%;
  // height: 100vh;
  // margin: auto;
  // max-height: 100%;
  // max-width: 100%;
  // object-fit: cover;
  // width: 100%;
}

.set {
  background-color: rgba(43, 46, 53, 0.5);
  &__img {
    // background-color: #2b2e35;
    // opacity: 0.5;
    // z-index: -100;
    :hover {
      opacity: 0.7;
      transition: all 0.5s;
    }
  }
}

.strengths {
  background-color: rgba(233, 233, 233, 0.8);
  &__wrap {
    width: 89%;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.price {
  &__title {
  }
  &__list {
    &-title {
      margin-top: 48px;
      padding-left: 40px;
    }
    &-img {
      width: 95%;
      margin: 40px auto 0;
    }
  }
}

.faq {
  background-color: rgba(233, 233, 233, 0.8);
  &__title {
    margin-top: 48px;
    margin-bottom: 40px;
  }
  &__wrap {
    width: 95%;
    margin: 0 auto;
  }
}

.contract {
  &__title {
    margin-bottom: 40px;
  }
  &__img {
    margin: 0 auto;
    width: 85%;
  }
}

.footer {
  margin-top: 115px;
  text-align: center;
  font-size: 14px;
}

.price__accordion {
  margin-top: 24px;
  position: relative;
}
.price__accordion-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 540px;
  width: 100%;
  color: #2b2e35;
  cursor: pointer;
  font-size: 20px;
  padding: 18px 0;
}
.price__accordion-content {
  margin-top: 62px;
  width: 100%;
  display: none;
}
.price__accordion-content p {
  font-size: 13px;
  line-height: 1.5;
}
/* タイトルの背景色 */
.price__accordion-item .price__accordion-title {
  border: 1px solid #2b2e35;
}

/* 矢印 */
.price__accordion-title {
  position: relative;
}
.price__accordion-title::after {
  content: "＋";
  display: block;
  font-size: 24px;
  width: 24px;
  position: absolute;
  right: 25px;
  top: 23%;
  width: 8px;
}
.price__accordion-title.open::after {
  content: "ー";
  font-size: 24px;
  top: 23%;
}

.faq__wrap {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 24px;
}

.faq__accordion {
  margin-top: 30px;
  position: relative;
}

.faq__accordion-item {
  margin-bottom: 36px;
}
.faq__accordion-item:last-child {
  margin-bottom: 0;
}
.faq__accordion-title {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  width: 100%;
  color: #2b2e35;
  background-color: #ffffff;
  cursor: pointer;
  // font-size: 16px;
  padding: 24px 16px;
}

.faq__accordion-content {
  width: 100%;
  display: none;
  background-color: #ffffff;
  padding: 0 16px 36px;
}

.faq__accordion-content-wrap {
  display: flex;
  align-items: center;
}

.faq__sub-title {
  width: 25px;
  font-size: 32px;
  margin-right: 18px;
}
.faq__text {
  width: 530px;
}

.faq__accordion-content p {
  line-height: 1.5;
}
.faq__accordion-content span {
  font-size: 36px;
  margin-right: 30px;
}

/* ＋　−表示 */
.faq__accordion-title {
  position: relative;
}
.faq__accordion-title::after {
  content: "＋";
  display: block;
  font-size: 24px;
  width: 24px;
  position: absolute;
  right: 36px;
  top: 30%;
  width: 8px;
}
.faq__accordion-title.open::after {
  content: "ー";
  font-size: 24px;
  top: 30%;
}

// モーダル
.column02 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column02 li p {
  margin-bottom: 4px;
}

.column02 li span {
  font-size: 14px;
  display: block;
}

.column02 {
  width: 96%;
  margin: 0 auto;
}
.column02 li {
  max-width: 315px;
}

/* モーダル */
.modal {
  display: none;
}

.modaal-container {
  color: #ffffff;
  max-width: 670px;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-img {
  max-width: 638px;
}

/* モーダルのスタイル調整 */
.modaal-content-container {
  max-width: 670px;
  margin: 0 auto;
  padding: 100px 16px;
}

/* ✕ボタンの位置調整 */
.modaal-close {
  position: absolute;
  top: 40px;
  right: 56px;
}

.modaal-close:after,
.modaal-close:before {
  top: 0;
  right: 0;
}

/* ✕ボタンの色 */
.modaal-close:after,
.modaal-close:before {
  background: #ccc;
}

/* ホバーしたときの✕ボタンの色 */
.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before {
  background: #ccc;
}

.modaal-close:after,
.modaal-close:before {
  border-radius: 0;
}

.modaal-close {
  border-radius: 0;
  width: 30px;
  height: 30px;
}

.btn-b {
  max-width: 542px;
  background-color: #2b2e35;
  text-align: center;
  margin: 40px auto 0;
  color: #ffffff;
  font-size: 20px;
}
.btn-b a {
  padding: 18px 0;
  display: block;
}
