@charset "UTF-8";

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  max-width: 670px;
  margin: 0 auto;
}

img {
  width: 100%;
}

h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}

.title {
  color: #ffffff;
  padding: 26px 0;
  text-align: center;
  background-color: #2b2e35;
}

.header {
  width: 100%;
}

.header__logo {
  margin: 0 auto;
  width: 294px;
  height: auto;
  padding: 12px 0;
}

.slider {
  margin: 0 auto;
  width: 100%;
}
.slick-img img {
  height: auto;
  width: 100%;
  // height: 100vh;
  // margin: auto;
  // max-height: 100%;
  // max-width: 100%;
  // object-fit: cover;
  // width: 100%;
}

.set {
  background-color: rgba(43, 46, 53, 0.5);
  &__img {
    // background-color: #2b2e35;
    // opacity: 0.5;
    // z-index: -100;
    :hover {
      opacity: 0.7;
      transition: all 0.5s;
    }
  }
}

.strengths {
  &__title {
    margin-bottom: 56px;
  }
  &__wrap {
    width: 89%;
    margin: 0 auto;
  }
}

.price {
  &__title {
    margin-bottom: 48px;
  }
  &__list {
    &-title {
    }
    &-img {
      width: 95%;
      margin: 0 auto;
    }
  }
}
.faq {
  background-color: rgba(233, 233, 233, 0.8);
  &__title {
    margin-bottom: 40px;
  }
  &__wrap {
    width: 95%;
    margin: 0 auto;
  }
}

.contract {
  &__title {
    margin-bottom: 40px;
  }
  &__img {
    margin: 0 auto;
    width: 85%;
  }
}

.footer {
  margin-top: 115px;
  text-align: center;
}

.accordion {
  margin-top: 30px;
  position: relative;
}
.accordion-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 540px;
  width: 100%;
  color: #2b2e35;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}
.accordion-content {
  width: 100%;
  display: none;
}
.accordion-content p {
  font-size: 13px;
  line-height: 1.5;
}
/* タイトルの背景色 */
.accordion-item .accordion-title {
  border: 1px solid #2b2e35;
}

/* コンテンツボックスの枠線 あとで消す*/
.accordion-item .accordion-content {
  border: 1px solid #2b2e35;
}
/* 矢印 */
.accordion-title {
  position: relative;
}
.accordion-title::after {
  content: "＋";
  display: block;
  font-size: 24px;
  width: 24px;
  position: absolute;
  right: 25px;
  top: 12%;
  width: 8px;
}
.accordion-title.open::after {
  content: "ー";
  font-size: 24px;
  top: 12%;
}

#column ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#column li {
}

#column li p {
  font-size: 90%;
  margin-bottom: 3px;
}

#column li span {
  font-size: 14px;
  display: block;
}

.column02 {
  width: 95%;
  margin: 0 auto;
}
.column02 li {
  max-width: 315px;
}
